body {
    font-family: Verdana, sans-serif;
    margin: 0px;
    background-color: rgba(61, 104, 201, 0.2);
}

header {
    background-color: rgba(61, 104, 201, 0.3);
    box-shadow: 0px 0px 4px #000;
}

a {
    color: #000;
}

#hdiv {
    max-width: 900px;
    margin: auto;
    padding: 1em;
    font-weight: bold;
}

.hlink {
    color: #2f2f2f;
    margin-right: 4ch;
    text-decoration: none;
}

.hlink:hover {
    color: #000;
}

.hlink:active {
    color: #3f3f3f;
}

.hlink.current {
    text-decoration: underline;
}

#main {
    max-width: 900px;
    margin: auto;
    padding: 1em;
}

table {
    min-width: 900px;
    margin: auto;
    border: 1px solid #000;
    border-collapse: collapse;
    box-shadow: 0px 0px 4px #000;
    text-align: center;
}

th, td {
    padding: 2px;
    border: 1px solid black;
}

.tc-statistic {
}

.tc-rank {
    width: 2ch;
}

.tc-value {
}

.tc-beatenby {
}

.tc-source {
}

.tc-date {
}

.dotted {
    text-decoration: underline;
    text-decoration-style: dotted;
}
